.page-nav{
	/*border-bottom: solid 1px #c8c8c8;*/
	border-top: solid 1px #c8c8c8;
}

.page-down-nav{
	border-bottom: solid 1px #c8c8c8;
	/*border-top: solid 1px #c8c8c8;*/
}

body{
	/* light background */
	/*background-color:#c8c8c8;*/
	background-color:#c8c8c8;
	/* dark background */
	/* background-color:#111111; */
	padding:0px;
	margin:0px;
}

#wrapper{
	margin-left:auto;
	margin-right:auto;
	padding:0;
	border:0;
	/* needed for dark background */
	/* color:white; */
}

#query{
	border-spacing:0px;
	padding:0px;
	margin:0px;
	background-color:#606060;
}

#wrapper_table{
	/* light */
	background-color:white;
	/* dark */
	/*background-color:black;*/
	border-spacing:0px;
	margin-bottom:0;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
}

#screen_info{
	background-color:#606060;
	border-spacing:0px;
	margin:0px;
}

#screen_sinfo table{
	border-spacing:0px;
	padding:0px;
}

#expression_tab{
	text-align:center;
}
#coexpression_tab{
	text-align:center;
}

#expression_message{
	margin-top:10px;
	margin-bottom:10px;
	padding:0px;
	border-spacing:0px;
	border-width:0px;
}

#col_header tr td{
	font-family: Arial;
	font-size:10px;
	height:15px;
	text-align:right;
	line-height:10px;
}

#rectangle_header, #rectangle_gene_header, #rectangle {
	z-index:1; 
	position:absolute; 
	top:0px; 
	left:0px; 
	width:1px; 
	height:1px; 
	/* light background */
	border:2px solid black;
	/* dark background */
	/* border:2px solid white; */
	display:none;
}

/* check box image */
.checkbox{
	height: 10px;
	width: auto;
	margin-left: 5px;
	margin-right: 5px;
}

.checkbox_large{
	height: 14px;
	width: auto;
	margin-left: 5px;
	margin-right: 5px;
}

/* drop down menu */
#navigation{
	width: 100%;
	float: left;
	border-width: 0 0 0 0;
}

#navigation .subtitle{
	width:60px;
}

#navigation, #navigation ul, #navigation a{
	border-color:#AAA;
	border-style:solid;
}

#navigation, .ui-tooltip-nav .ui-tooltip-content{
	font-size: 14px;
	line-height: 18px;
	text-align: left;
 
	background-color: #EEE;
}
#navigation ul{
	margin-top:0px;
	margin-bottom:0px;
	border-width: 1px 1px 1px 1px;
	padding-left:0px;
}
	

#navigation ul, #navigation li{
	float: left;
	list-style-type:none;
}

#navigation li a{
	display: block;
	padding: 2px 2px 2px 2px;
 
	border-width: 1px 1px 1px 1px;
	color: #666;
}
 
#navigation li a:hover, #navigation li a.active{
	background-color: #DDD;
}

#navigation .submenu{
	display: none;
	border-width: 1px;
}


.ui-tooltip-nav{
	width: 300px;
}
 
	.ui-tooltip-nav .ui-tooltip-content{
		padding: 0;
		border-width: 0;
	}
 
	#navigation .ui-tooltip-nav ul,
	#navigation .ui-tooltip-nav li{
		float: none;
	}
 
	#navigation .ui-tooltip-nav li a{
		padding-right: 38px;
		border-width: 0;
	}

/* end */

.expression_query{
	/* light background */
	background-color:yellow;
	color:black;

	/* dark background */
	/* background-color:#2b2b00; */
	/* color:white; */
	width:90px;
	padding-right:10px;
	text-align:right;
}

.expression_gene{
	width:90px;
	/* light background */
	color:black;
	/* dark background */
	/* color:white; */
	padding-right:10px;
	font-weight:bold;
	text-align:right;
}

.ui-tooltip-genes .ui-tooltip-content{
	line-height:15px;
}

.ui-tooltip-gsm .ui-tooltip-content{
	line-height:15px;
	font-size:12px;
	/* dark background */
	/*color:black;*/
}

.ui-tooltip .ui-tooltip-content{
	line-height:15px;
	font-size:12px;
}

.ui-tooltip-dark-label .ui-tooltip-content{
	color:white;
}

.seek-tab-unhighlighted{
/*border-radius: 5px;
border-radius: 5px;
-moz-border-radius: 5px;
-moz-border-radius: 5px;*/
cursor:pointer;
background: #627d4d; /* Old browsers */
background: -moz-linear-gradient(top, #627d4d 0%, #1f3b08 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#627d4d), color-stop(100%,#1f3b08)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #627d4d 0%,#1f3b08 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #627d4d 0%,#1f3b08 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #627d4d 0%,#1f3b08 100%); /* IE10+ */
background: linear-gradient(to bottom, #627d4d 0%,#1f3b08 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */
color: darkgray;
}

.seek-help{
cursor:pointer;
background-color:#e9ab17;
color:white;
font-weight:bold;
font-size:12px;
}

.seek-tab-highlighted{
cursor:pointer;
background: #a4b357; /* Old browsers */
background: -moz-linear-gradient(top, #a4b357 0%, #75890c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#75890c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a4b357 0%,#75890c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a4b357 0%,#75890c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a4b357 0%,#75890c 100%); /* IE10+ */
background: linear-gradient(to bottom, #a4b357 0%,#75890c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */
/*border-bottom: 3px solid white;*/
color: white;
font-weight: bold;
}

/* for QTip2 */
.ui-tooltip-content{
font-family:Arial;
font-size:12px;
/* light background */
color:black;
/* dark background */
/*color:white;*/
}

#ui-tooltip-tutorial_tooltip{
	max-width:600px;
}

/* vertical scrolling only */
/*
#ui-tooltip-somediv .ui-tooltip-content{
	overflow-x: hidden;
	overflow-y: auto;
	max-height:300px;
	padding-right: 20px;
}
#ui-tooltip-somediv{
	max-width: 600px;
}
*/

#ui-tooltip-somediv .ui-tooltip-titlebar{
	font-family:Arial;
	font-size:12px;
}

#ui-tooltip-somediv .ui-tooltip-content{
	overflow-x: auto;
	overflow-y: auto;
	/*max-height: 420px;*/
	max-height: 720px;
	max-width: 800px;
	line-height: 15px;
	/*min-height: 420px;*/
	/*padding-bottom: 20px;*/
}
#ui-tooltip-somediv{
	max-width: 800px;
	/*max-height: 450px;*/
	max-height: 750px;
	/*min-height: 400px;*/
}

#ui-tooltip-statusdiv .ui-tooltip-content{
	overflow-x: auto;
	overflow-y: auto;
	max-height: 520px;
	max-width: 800px;
}
#ui-tooltip-statusdiv{
	max-width: 800px;
	max-height: 550px;
}

#ui-tooltip-refine_info_dataset .ui-tooltip-content{
	overflow-x: hidden;
	overflow-y: auto;
	max-height:	200px;
	/*max-width: 300px;*/
}

#ui-tooltip-refine_gene, #ui-tooltip-refine_dataset {
	max-width:420px;
	-moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

#ui-tooltip-refine_gene .ui-tooltip-content, 
#ui-tooltip-refine_dataset .ui-tooltip-content{
	font-family:Arial;
	font-size:10px;
	color:black;
	padding: 10px;
}

/* must follow link, visited, and hover order */
/* light background */
a:link{text-decoration:none; color:#000066;outline:none;}
a:visited{text-decoration:none; color:#000066;}
a:hover{text-decoration:underline; color:#000066; font-weight:bold;}
a.medium_font:link{text-decoration:underline; color:#000066;}
td.queryLink{font-family:Arial; font-size:12px; height:15px; text-align:right; background-color:#ffff66}

/* dark background */
/*a:link{text-decoration:none; color:#FFFFC8;outline:none;}
a:visited{text-decoration:none; color:#ffffc8;}
a:hover{text-decoration:underline; color:#ffffc8; font-weight:bold;}
a.medium_font:link{text-decoration:underline; color:#ffffc8;}
td.queryLink{font-family:Arial; font-size:12px; height:15px; text-align:right; background-color:#2b2b00}
*/

a.tutorial_link:link{text-decoration:underline; color:yellow;}
a.tutorial_link:visited{text-decoration:underline; color:yellow;}
a.tutorial_link:hover{text-decoration:underline; color:yellow; font-weight:bold;}

a.white:link{text-decoration:none; color:#ffffff;}
a.white:visited{text-decoration:none; color:#ffffff;}
a.white:hover{text-decoration:underline; color:#ffffff; font-weight:bold;}

a.white_underline:link{text-decoration:none; color:#ffffff;}
a.white_underline:visited{text-decoration:none; color:#ffffff;}
a.white_underline:hover{text-decoration:underline; color:#ffffff;font-weight:normal;}

a.help:link{text-decoration:none; color:#ffffff;}
a.help:visited{text-decoration:none; color:#ffffff;}
a.help:hover{text-decoration:none;color:#000066;}

a img {border:0px;}

a.queryLink:link{text-decoration:none; color:#555555;}
a.queryLink:visited{text-decoration:none; color:#555555;}
a.queryLink:hover{text-decoration:underline; color:#555555; font-weight:bold;}

a.guide:link{text-decoration:none; border-bottom: 1px dashed; color:#555555;}
a.guide:visited{text-decoration:none; border-bottom: 1px dashed; color:#555555;}
a.guide:hover{text-decoration:none; border-bottom: 1px dashed; color:#555555; font-weight:bold;}
 
.highlighted {
	background-color: yellow;
}


input.queryStyle {
background-color: #FFFFFF;
border: 1px solid #555555;
font-family: Arial;
font-size: 14px;
color: #555555;
}

.exprTable_col1 {
	font-family:Arial;
	font-size:10px;
	height:15px;
	text-align:right;
	width:50px;
}

td.tableFirstCol{
	font-family:Arial;
	font-size:12px;
	height:15px;
	text-align:right;
	width:100px;
}

#microarray_main {
	/*border-left:5px solid; 
	border-right:5px solid; 
	border-color:#C8C8C8; */
	margin-left:3px; 
	margin-right:3px; 
	padding-bottom:5px; 
	padding-right:5px; 
	padding-left:5px; 
	padding-top:5px;
}

#dset_div {
	border-left:5px solid; 
	border-right:5px solid; 
	border-color:#C8C8C8; 
	margin-left:3px; 
	margin-right:3px; 
	margin-bottom:10px; 
	padding-bottom:5px; 
	padding-right:5px; 
	padding-left:5px; 
	padding-top:5px;
}

#gene_div {
	border-left:5px solid; 
	border-right:5px solid; 
	border-color:#C8C8C8; 
	margin-left:3px; 
	margin-right:3px;
	margin-bottom:10px; 
	padding-bottom:5px; 
	padding-right:5px; 
	padding-left:5px; 
	padding-top:5px;
}

.table_header_underline td{
	/* dark background */
	/*border-bottom:1px solid white;
	border-top:1px solid white;*/

	/* light background */
	border-bottom:1px solid black;
	border-top:1px solid black;
	font-weight: bold;
}

.basic_font{
	font-family:Arial;
	font-size:12px;
}

.medium_font{
	font-family:Arial;
	font-size:12px;
}

.small_font{
	font-family:Arial;
	font-size:10px;
}

.very_small_font{
	font-family:Arial;
	font-size:8px;
}

.vsmall_font{
	font-family:Arial;
	font-size: 10px;
	/*dark background*/
	/*color: #b0b0b0;*/
	/*light background*/
	color: #707070;
	white-space: nowrap;
}

.big_font{
	font-family:Arial;
	font-size:14px;
}

.arrow{
	width:15px;
	height:15px;
}

.arrow2{
	width:12px;
	height:12px;
}
.rotate_270{
	-o-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	/*-o-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
*/
	/*position: absolute;
	height: 300px;
	top: 0px;
	left: 0px;
	right: 500px;
	bottom: 50px;*/
}

.q_name {
	font-size:10px;
	color:rgb(100,100,100);
}

.s_name {
	font-size:10px;
	color:rgb(100,100,100);
}

.span_class {
	font-size:10px;
	color:rgb(100,100,100);
}


